<%- include ('header1') %>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">T2S</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end"  id="navbarNavAltMarkup">
      <!-- <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
      </div> -->
      <% if(!(locals.isAuthenticated)) { %>
        <a class="nav-item nav-link" href="/google">Login</a>
        <!-- <a class="nav-item nav-link" href="/register">Sign up</a> -->
        <% } %>
        <% if(locals.isAuthenticated) { %>
        <a class="nav-item nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    
  </nav>
